:root{
    --purple: hsl(259, 100%, 65%);
    --lightRed: hsl(0, 100%, 67%);
    --white: hsl(0, 0%, 100%);
    --offWhite: hsl(0, 0%, 94%);
    --lightGrey: hsl(0, 0%, 86%);
    --smokeyGrey: hsl(0, 1%, 44%);
    --offBlack: hsl(0, 0%, 8%);
}

body{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--offWhite);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6rem 1rem;
}

main{
    max-width: 90vh;
    background-color: var(--white);
    padding: 3rem 1.5rem;
    border-radius: 2rem 2rem 6rem 2rem;
}
.birthdate{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 5rem;
}

label{
    color: var(--smokeyGrey);
    text-transform: uppercase;
}

input{
    width: 4.7rem;
    height: 3rem;
    padding: 0 0 0 0.5rem;
    border-radius: 0.5rem;
    border: 0.5px solid var(--smokeyGrey);
    margin-bottom: -0.3rem;
    font-size: 1.2rem;
    font-weight: 600;
    caret-color: var(--purple);
}

input:focus{
    outline: unset;
    border-color: var(--purple);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input:hover{
    cursor: pointer;
}

.error{
    display: none;
    font-size: 0.5rem;
    color: var(--lightRed);
}

.arrow{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--purple);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -2.5rem auto auto;
}

.arrow:hover{
    background-color: var(--offBlack);
    cursor: pointer;
}

.arrow img{
    width: 1.5rem;
    height: 1.5rem;
}

.age{
    font-size: 3rem;
    padding: 2rem 1rem;
}

.dinamicAge{
    color: var(--purple);
}

footer{
    font-size: 0.7rem;
    text-align: center;
    padding: 2rem 1rem;
    margin: 3rem auto;
}

footer a {
    color: hsl(228, 45%, 44%);
}

@media (min-width:600px) {
    .birthdate{
        justify-content: left;
        gap: 2rem;
    }

    input{
        width: 6rem;
    }

    hr{
        width: 70vh;
    }

    .arrow{
        margin-right: 0;
    }

    .age{
        font-size: 4rem;
    }
}
